:root {
  --theme-orange: hsl(25, 97%, 53%);
  --theme-lightgrey: hsl(217, 12%, 63%);
  --theme-mediumgrey: hsl(216, 12%, 54%);
  --theme-blue: hsl(213, 25%, 20%);
  --theme-darkblue: hsl(213, 35%, 12%);
  --theme-verydarkblue: hsl(216, 12%, 8%);
  --main-height: 360px;
}

*, *::after, *::before {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Overpass';
  font-weight: 400;
  list-style: none;
  /* border: white dashed 1px; */
}

h1 {
  font-size: 24px;
  font-weight: 700px;
}

h2 {
  color: var(--theme-orange);
  font-size: 15px;
  background-color: var(--theme-blue);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
}

.submit {
  background-color: var(--theme-orange);
  height: 46px;
  width: 100%;
  border-radius: 23px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.submit:hover {
  background-color: white;
  color: var(--theme-orange);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector {
  background-color: var(--theme-blue);
  color: var(--theme-mediumgrey);
  font-size: 14px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector:hover {
  background-color: var(--theme-orange);
  color: white;
}

.selector:hover svg {
  fill: white;
}

.selector-active {
  background-color: var(--theme-mediumgrey);
  color: white;
}

.selector-active svg {
  fill: white;
}

svg {
  fill: var(--theme-orange);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--theme-verydarkblue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 325px;
  height: var(--main-height);
  margin-left: auto;
  margin-right: auto;
  margin-top: max(25px, calc(100vh - var(--main-height))/2);
  margin-bottom: max(25px, calc(100vh - var(--main-height))/2);
  background-image: radial-gradient(circle at top, var(--theme-blue), var(--theme-darkblue));
  padding: 25px;
  padding-bottom: 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ol {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 14px;
  color: var(--theme-mediumgrey);
  line-height: 1.5em;
}